---
import Documentation from "../../layouts/Documentation.astro";
import AlertComponent from "../../components/Alert";
---

<Documentation title="Alert">
  <p slot="description">
    A banner with high contrast color to make the user aware of important
    information.
  </p>
  <AlertComponent slot="component" />
</Documentation>
