---
import Documentation from "../../layouts/Documentation.astro"
import AlertComponent from "../../components/Alert"
---

<Documentation title="Alert">
    <div slot="description">
        <p>A banner with high contrast color to make the user aware of important information.</p>
    </div>
    <AlertComponent slot="component"/>
</Documentation>