---
import AlertComponent from "components/alert/Alert";
import Documentation from "layouts/Documentation.astro";

const code = `
import Alert from "./Alert"

<Alert>I'm an alert</Alert>
`.trim();
---

<Documentation title="Alert" code={code}>
  <p slot="description">
    A banner with high contrast color to make the user aware of important
    information.
  </p>
  <AlertComponent slot="component">I'm an alert</AlertComponent>
</Documentation>
