---
import Documentation from "../../layouts/Documentation.astro"
import ButtonComponent from "../../components/Button"
---

<Documentation title="Button" description="foo bar">
    <ButtonComponent/>
    <div slot="description">
        <p>The primary action of a page.</p>
    </div>
</Documentation>