---
import { Code } from 'astro:components';
import Documentation from "../../layouts/Documentation.astro"
import ButtonComponent from "../../components/Button"

const code = `import Button from "./Button"

<Button>Click me</Button>`;
---

<Documentation title="Button">
    <div slot="description">
        <p>The primary action of a page.</p>
    </div>
    <ButtonComponent slot="component"/>
    <Code slot="code" code={code} lang="jsx" theme="github-light"/>
</Documentation>