---
import Documentation from "layouts/Documentation.astro";
import DocsRadioGroup from "./complex-components/DocsRadioGroup";

const code = `
import InputField from "./InputField"

<RadioGroup id={SHARED_CUSTODY}>
    <Label hasTooltip>Har du delad vårdnad?</Label>
    <RadioOption value={true}>Ja</RadioOption>
    <RadioOption value={false}>Nej</RadioOption>
</RadioGroup>
`.trim();
---

<Documentation title="Radio Group" code={code}>
  <div slot="description">
    <p>The complete implementation of the radio option. It comes with a label and multiple choice options.</p>
  </div>
  <DocsRadioGroup />
</Documentation>
