---
import Documentation from "layouts/Documentation.astro";
import RadioOption from "components/radio-option/RadioOption";

const code = `
import RadioOption from "./RadioOption"

<RadioOption>I'm a radio</RadioOption>
`.trim();
---

<Documentation title="Radio Option" code={code}>
  <div slot="description">
    <p>Individiual radio element.</p>
    <p>
      Use <a href="/docs/chibi-radio-group"><code>RadioGroup</code></a> for a complete usable item.
    </p>
  </div>
  <RadioOption id="over18" slot="component"> I'm a radio option </RadioOption>
</Documentation>
