---
import Input from "components/input/Input";
import Documentation from "layouts/Documentation.astro";

const code = `
import Input from "./Input"

<Input type="text" placeholder="I'm an input">
`.trim();
---

<Documentation title="Input" code={code}>
  <div slot="description">
    <p>How the user fills information.</p>
    <p>
      Use <a href="/docs/chibi-input-field"><code>InputField</code></a> for a complete usable item.
    </p>
  </div>
</Documentation>
