---
import LabelComponent from "components/label/Label";
import Documentation from "layouts/Documentation.astro";

const code = `
import Label from "./Label"

<Label>I'm a label</Label>
`.trim();
---

<Documentation title="Label" code={code}>
  <p slot="description">Describes an element of the formulary.</p>
  <LabelComponent slot="component">I'm a label</LabelComponent>
</Documentation>
