---
import Documentation from "layouts/Documentation.astro";

const code = `
import InputField from "./InputField"

<InputField id={CO_EMAIL}>
    <Label>Medsökandes e-post</Label>
    <Input type="email" placeholder="namn@email.se" />
</InputField>
`.trim();
---

<Documentation title="Input Field" code={code}>
  <div slot="description">
    <p>The complete implementation of the input field. It comes with a label and the option to enable tooltips.</p>
  </div>
</Documentation>
