---
import Documentation from "../../layouts/Documentation.astro"
import InputComponent from "../../components/Input"
---

<Documentation title="Input">
    <div slot="description">
        <p>How the user fill information.</p>
         <p>Use <code>InputField</code> for a complete usable item.</p>
    </div>
    <InputComponent slot="component"/>
</Documentation>