---
import InputComponent from "components/Input";
import Documentation from "layouts/Documentation.astro";

const code = `
import Input from "./Input"

<Input type="text" placeholder="I'm an input">
`.trim();
---

<Documentation title="Input" code={code}>
  <div slot="description">
    <p>How the user fill information.</p>
    <p>Use <code>InputField</code> for a complete usable item.</p>
  </div>
  <InputComponent slot="component" />
</Documentation>
