---
import Documentation from "../../layouts/Documentation.astro"
import LabelComponent from "../../components/Label"
---

<Documentation title="Label">
    <div slot="description">
        <p>Describes an element of the formulary.</p>
    </div>
    <LabelComponent slot="component"/>
</Documentation>