---
import Documentation from "../../layouts/Documentation.astro";
import LabelComponent from "../../components/Label";
---

<Documentation title="Label">
  <p slot="description">Describes an element of the formulary.</p>
  <LabelComponent slot="component" />
</Documentation>
