---
import Documentation from "../../layouts/Documentation.astro"
import LabelComponent from "../../components/Label"
---

<Documentation title="Label">
    <LabelComponent/>
    <div slot="description">
        <p>Descibes any element in the formulary.</p>
    </div>
</Documentation>