---
import RadioGroupComponent from "components/radio-group/RadioGroup";
import RadioOption from "components/radio-option/RadioOption";
import Label from "components/label/Label";
import Documentation from "layouts/Documentation.astro";

const code = `
import InputField from "./InputField"

<RadioGroup id={SHARED_CUSTODY}>
    <Label hasTooltip>Har du delad vårdnad?</Label>
    <RadioOption value={true}>Ja</RadioOption>
    <RadioOption value={false}>Nej</RadioOption>
</RadioGroup>
`.trim();
---

<Documentation title="Radio Group" code={code}>
  <div slot="description">
    <p>
      The complete implementation of the radio option. It comes with a label and
      and multiple choice options.
    </p>
  </div>
  <RadioGroupComponent id="propertyType" slot="component" client:load>
    <Label>Property type</Label>
    <RadioOption>House</RadioOption>
    <RadioOption>Apartment</RadioOption>
  </RadioGroupComponent>
</Documentation>
