---
import Documentation from "layouts/Documentation.astro";
import RadioOptionComponent from "components/radio-option/RadioOption";

const code = `
import RadioOption from "./RadioOption"

<RadioOption>I'm a radio</RadioOption>
`.trim();
---

<Documentation title="Radio option" code={code}>
  <div slot="description">
    <p>Individiual radio element.</p>
    <p>
      Use <a href="docs/radio-group"><code>RadioGroup</code></a> for a complete usable
      item.
    </p>
  </div>
  <RadioOptionComponent slot="component">
    I'm a radio option
  </RadioOptionComponent>
</Documentation>
