---
import Documentation from "../../layouts/Documentation.astro"
import RadioComponent from "../../components/Radio"
---

<Documentation title="Radio">
    <RadioComponent/>
    <div slot="description">
        <p>Individiual radio element.</p>
        <p>Use <code>RadioGroup</code> for a complete usable item.</p>
    </div>
</Documentation>