.selector-group {
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-label-and-field);

  .label {
    justify-content: center; /* Yes, this component label has centered text. */
  }

  .selector-options {
    display: flex;
    gap: var(--space-xs);
    justify-content: center;
    flex-wrap: wrap;
    flex-wrap: wrap balance; /** Balance groups items in a better visual way but is not available to all browswers. */
  }
}

/* Tablet */
@media (min-width: 550px) {
  .selector-group {
    width: auto;
  }
}
