.selector-group {
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-label-and-field);

  .label {
    justify-content: center; /* Yes, this component label has centered text. */
  }

  .selector-options {
    display: flex;
    gap: var(--space-xs);
    justify-content: center;
  }
}

/* Tablet */
@media (min-width: 550px) {
  .selector-group {
    width: auto;
    min-width: 320px;
  }
}
