.input-wrapper {
  background-color: pink;

  .input {
    background-color: palegreen;
  }

  .suffix {
    background-color: palegreen;
  }

  .validation-message {
    background-color: palegreen;
  }
}

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr auto; /* To make the input take the full width if suffix does not exist. */
  grid-template-areas:
    "top-left top-right"
    "bottom bottom";

  .input {
    grid-area: top-left;
  }

  .suffix {
    grid-area: top-right;
  }

  .validation-message {
    grid-area: bottom;
  }
}
