.input {
  height: 48px;
  border-radius: var(--border-radius);
  border: solid 1px var(--color-border-input);
  padding-inline: var(--space-medium);
  font-size: var(--font-size-normal);

  /* Animation */
  transition:
    background-color 0.15s ease-in,
    border-color 0.15s ease-in,
    border-width 0.15s ease-in;
}

.input:hover {
  background-color: var(--color-gray-95);
  border: solid 2px var(--color-gray-50);
}

.input:focus {
  background-color: var(--color-blue-99);
  border: solid 2px var(--color-blue-40);
  outline: none;
}
