.input-wrapper {
  background-color: pink;

  .input {
    background-color: palegreen;
  }

  .suffix {
    background-color: palegreen;
  }

  .validation-message {
    background-color: palegreen;
  }
}

.input {
}
