.input-wrapper .input[type="number"] {
  text-align: center;
  appearance: inherit;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
