.wrapper {
  display: flex;
  align-items: center;
}

.input {
  flex-grow: 1;
  height: var(--height-of-field);
  border-radius: var(--border-radius);
  border: solid 1px var(--color-border-input);
  padding-block: 0; /** removes small gap from forms   */
  padding-inline: var(--space-medium);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-normal);

  /* Animation */
  transition:
    background-color 0.15s ease-in,
    border-color 0.15s ease-in,
    box-shadow 0.15s ease-in;
}

.input:hover {
  background-color: var(--color-field-background);
  border-color: var(--color-field-border-color);
  box-shadow: inset 0 0 0 1px var(--color-field-border-color); /* adds 1px inside */
}

.input:focus {
  background-color: var(--color-blue-99);
  border-color: var(--color-blue-40);
  box-shadow: inset 0 0 0 1px var(--color-blue-40);
  outline: none;
}

/* Error handling */
.input.has-validation-message {
  border: solid 2px var(--color-field-border-color-error);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none; /** so there is no double line with the validation message */
}

/* Suffix handling */
.input.has-suffix {
  border-right: none; /** so there is no double line with the suffix */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
