.input-wrapper {
  --border-base: 1px;
  --border-hover: 2px;
  --outline-hover: 1px;

  border-style: solid;
  border-width: var(--border-base);
  border-color: var(--input-border-up);

  .input {
    border-right: solid var(--border-base) white; /** The color is set to not be visible on purpose to color it on state changes. */
  }

  .suffix {
    border-left: solid var(--border-base) var(--input-border-up);
  }

  .validation-message {
    border-top: solid var(--border-hover) var(--input-border-up);
  }
}

/* Shared outline behaviour */
.input-wrapper:hover,
.input-wrapper:focus-within,
.input-wrapper.has-validation-message {
  outline-style: solid;
  outline-width: var(--outline-hover);
}

/* On hover */
.input-wrapper:hover {
  outline-color: var(--input-border-hover);

  &.has-suffix .input,
  .suffix {
    border-color: var(--input-border-hover);
  }
}

/* On focus */
.input-wrapper:focus-within {
  border-color: var(--input-border-focus);
  outline-color: var(--input-border-focus);

  &.has-suffix .input,
  .suffix {
    border-color: var(--input-border-focus);
  }
}

/* On showing error message */
.input-wrapper.has-validation-message {
  border-color: var(--input-border-error);
  outline-color: var(--input-border-error);

  &.has-suffix .input,
  .suffix,
  .validation-message {
    border-color: var(--input-border-error);
  }
}
