.input-wrapper {
  border-radius: var(--border-radius);
  overflow: hidden; /** To hide the square border-radius of the children. */

  .input {
    height: var(--height-of-field);
    padding-inline: var(--space-medium);
    color: var(--typography-default);
    font-family: var(--font-family);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    outline: none;

    border-left: none;
    border-top: none;
    border-bottom: none;
  }

  .suffix {
    padding-inline: var(--space-medium);
    background-color: white; /* In case it is used on a non-white background. */
    line-height: var(--height-of-field);
    text-align: center;
  }

  .validation-message {
    padding: var(--space-small) var(--space-medium);
    background-color: var(--input-background-error);
    font-weight: var(--font-weight-bold);
  }
}
