.input-wrapper {
  .input {
    height: var(--height-of-field);
    padding-inline: var(--space-medium);
    color: var(--typography-default);
    font-family: var(--font-family);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    outline: none;

    border-left: none;
    border-top: none;
    border-bottom: none;
  }

  .suffix {
    padding-inline: var(--space-medium);
    line-height: var(--height-of-field);
  }

  .validation-message {
    padding: var(--space-small) var(--space-medium);
    background-color: var(--input-background-error);
    font-weight: var(--font-weight-bold);
  }
}
