.input-and-suffix-wrapper {
  display: flex;
  align-items: center;
}

.input {
  flex-grow: 1;
  padding-block: 0; /* removes small gap from forms */
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-normal);
}

.input:focus {
  background-color: var(--input-background-focus);
  border-color: var(--input-border-focus);
  box-shadow: inset 0 0 0 1px var(--input-border-focus);
  outline: none;
}

/* Error handling */
.input.has-validation-message {
  border: solid 2px var(--input-border-error);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Suffix handling */
.input.has-suffix {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* Special variations */
.input[type="number"] {
  text-align: center;
  appearance: inherit;
  -moz-appearance: textfield; /** Remove spinner for Firefox */

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Remove spinner for WebKit browsers */
  }
}
