.input {
  height: var(--height-of-field);
  border-radius: var(--border-radius);
  border: solid 1px var(--color-border-input);
  padding-inline: var(--space-medium);
  font-size: var(--font-size-normal);

  /* Animation */
  transition:
    background-color 0.15s ease-in,
    border-color 0.15s ease-in,
    border-width 0.15s ease-in;
}

.input:hover {
  background-color: var(--color-field-background);
  border-width: 2px;
  border-color: var(--color-field-border-color);
}

.input:focus {
  background-color: var(--color-blue-99);
  border: solid 2px var(--color-blue-40);
  outline: none;
}

/* Error handling */
.input.has-validation-message {
  border: solid 2px var(--color-field-border-color-error);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none; /** so there is no double line with the validation message */
}

/* Special variations */
.input[type="number"] {
  text-align: center;
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input[type="number"] {
  -moz-appearance: textfield;
}
