.input-wrapper {
  background-color: pink;

  .input {
    background-color: palegreen;
    border: none;
    outline: none;
  }

  .suffix {
    background-color: palegreen;
  }

  .validation-message {
    background-color: palegreen;
  }
}

.input-wrapper {
  --border-base: 2px;
  --border-hover: 4px;
  --outline-hover: 2px;

  border-style: solid;
  border-width: var(--border-base);
  border-color: var(--input-border-up);

  .input {
    border-right: solid var(--border-base) white; /** The color is set to not be visible on purpose to color it on state changes. */
  }

  .suffix {
    border-left: solid var(--border-base) var(--input-border-up);
  }

  .validation-message {
    border-top: solid var(--border-hover) var(--input-border-up);
  }
}

.input-wrapper:hover,
.input-wrapper:focus-within,
.input-wrapper.has-validation-message {
  outline-style: solid;
  outline-width: var(--outline-hover);
}

.input-wrapper:hover {
  outline-color: var(--input-border-hover);

  &.has-suffix .input {
    border-right-color: var(--input-border-hover);
  }
}

.input-wrapper:focus-within {
  border-color: var(--input-border-focus);
  outline-color: var(--input-border-focus);
}

.input-wrapper.has-validation-message {
  border-color: var(--input-border-error);
  outline-color: var(--input-border-error);

  .validation-message {
    border-color: var(--input-border-error);
  }
}
