.suffix {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--space-5xl);
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Error handling */
.suffix.has-validation-message {
  border: solid 2px var(--input-border-error);
  border-bottom-right-radius: 0;
}
