.suffix {
  display: inline-block;
  min-width: var(--space-5xl);
  height: var(--height-of-field);
  background-color: white; /** small detail to match input when the form has a background color. */
  border: solid 1px var(--color-border-input);
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-align: center;
  line-height: var(--height-of-field);
  padding-inline: var(--space-xs);
}

/* Error handling */
.suffix.has-validation-message {
  border: solid 2px var(--color-field-border-color-error);
  border-bottom: none; /** so there is no double line with the validation message */
  border-bottom-right-radius: 0;
}
