.validation-message {
  padding: var(--space-xs) var(--space-medium);
  background-color: var(--input-background-error);
  border: solid 2px var(--input-border-error);
  border-top: none;
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
