.radio-option {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  height: 48px;
  background-color: white;
  border-radius: var(--border-radius);
  border: solid 1px var(--color-border);
  padding-inline: var(--space-medium);

  input[type="radio"]:checked {
    accent-color: var(--color-green-40);
  }

  /* Animation */
  transition:
    background-color 0.15s ease-in,
    border-color 0.15s ease-in,
    border-width 0.15s ease-in;
}

/**
 * The <input type="radio"/> is placed inside a <label>.
 * We use the new CSS :has() selector to style the label
 * based on the input’s state (hover or checked).
 */
.radio-option:has(input[type="radio"]:hover) {
  background-color: var(--color-gray-90);
  border: solid 2px var(--color-gray-30);
}

.radio-option:has(input[type="radio"]:checked) {
  background-color: var(--color-green-90);
  border: solid 2px var(--color-green-40);
}
