.radio-option {
  display: flex;
  align-items: center;
  gap: var(--space-xs);

  input[type="radio"]:checked {
    accent-color: var(--color-green-40);
  }
}

.radio-option:has(input[type="radio"]:checked) {
  --color-background: var(--color-green-40);
  --color-accent: white;

  background-color: var(--color-background);
  border-color: var(--color-background);
  box-shadow: inset 0 0 0 1px var(----color-background);
  color: var(--color-accent);

  input[type="radio"]:checked {
    accent-color: var(--color-accent);
  }
}
