---
interface Link {
  // Canonical URL
  slug: string;

  // Text to show on the screen
  label: string;
}

interface Props {
  // List of links to build the navigation bar
  links: Link[];

  // The current active URL to change the design of the link of the current page
  currentPath: string;
}

const { links, currentPath } = Astro.props;
---

<nav>
  <a href="/" data-astro-prefetch>Aphrodite Chibi</a>

  <h2>Components</h2>

  {
    links.map((link) => {
      const href = `/docs/${link.slug}`;

      return (
        <a href={href} class={currentPath === href ? "active" : ""} data-astro-prefetch>
          {link.label}
        </a>
      );
    })
  }
</nav>
