.radio-group {
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-label-and-field);
  width: 100%;
  background-color: pink;
  min-height: 10px;

  .radio-options {
    display: grid;
    gap: var(--space-xxs);
  }
}

/* Mobile */
@media (min-width: 550px) {
  .radio-group {
    width: auto;
    min-width: 320px;

    .radio-options {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
