.radio-group {
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-label-and-field);
  min-width: var(--field-min-width-mobile);

  .radio-options {
    display: grid;
    gap: var(--space-small);
  }
}

/* Tablet */
@media (min-width: 550px) {
  .radio-group {
    width: auto;
    min-width: var(--field-min-width-tablet);

    .radio-options {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
