@import url("./documentation/main.css");
@import url("./documentation/nav.css");

body {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-big);
  max-width: 960px;
  margin: var(--space-big) 5%;
}

@media (min-width: 768px) {
  body {
    grid-template-columns: 200px 1fr;
    margin-inline: auto;
  }
}
