body {
  display: grid;
  min-height: 100dvh;
  place-items: center;
  margin-inline: 5%;
}

body main {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
  width: 100%;
  max-width: 600px;

  header,
  footer {
    text-align: center;
  }
}
