body {
  display: grid;
  min-height: 100dvh;
  place-items: center;
  margin-inline: 5%;
}

body main {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
  width: 100%;
  max-width: 600px;
  margin-bottom: 5%; /** to optically align to the center, otherwise the image makes it feel aligned closer to the bottom. */

  header,
  footer {
    text-align: center;
  }
}
