body {
  display: grid;
  place-items: center;
  min-height: 100dvh;
}

body main {
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
  align-items: center;

  img {
    max-width: 100%;
    height: auto;
  }
}
