@import url("./variables.css");
@import url("./typography.css");
@import url("./fonts.css");
@import url("./documentation/main.css");
@import url("./documentation/nav.css");

body {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-big);
  max-width: 960px;
  margin: var(--space-big) auto;
  background-color: var(--color-page-background);
  font-family: var(--font-family);
}

@media (min-width: 768px) {
  body {
    grid-template-columns: 200px 1fr;
  }
}
