body {
  background-color: lightblue;
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  max-width: 960px;
  margin-inline: auto;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 768px) {
  body {
    grid-template-columns: 4fr 8fr;
  }
}
