:root {
  /* Swatches */
  --color-black: #1f1f1f;
  --color-blue: #0071eb;
  --color-gray: #6e6e6e;
  --color-green: #22aa58;
  --color-red: #c82c2c;
  --color-orange: #f39c12;
  --color-light-gray: #f8f8f8;

  /* Special colors */
  --color-page-background: --color-light-gray; /** the whole app background color. */

  /* # Fonts */
  --font-family:
    "Circular Pro", Helvetica, Segoe UI, Arial, ui-sans-serif, sans-serif;
  --font-size-normal: 18px;
  --font-size-small: 12px;
  --font-weight-bold: 700;
  --font-weight-normal: 500;

  /* # Spacing */
  --space-big: 32px;
  --space-medium: 16px;
  --space-small: 8px;

  /* # Other */
  --border-radius: 8px;

  /* # Media queries */
  /* Mobile is the default */
  --media-query-tablet: 550px;
  --media-query-desktop: 768px;
}
