<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chibi Select</title>
  </head>
  <body>
    <button class="select-trigger" popovertarget="select-list" style="anchor-name: --select-trigger">
      Please choose an option
    </button>

    <div id="select-list" popover style="position-anchor: --select-trigger">
      <button class="select-option">House</button>
      <button class="select-option">Apartment</button>
      <button class="select-option">Terraced house</button>
      <button class="select-option">Holiday home</button>
    </div>
  </body>
</html>
