.select-trigger {
  height: var(--height-of-field);
  padding-inline: var(--space-medium);
  background-color: white;
  color: var(--typography-default);
  text-align: start;
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  border: solid 1px var(--input-border-up);
  border-radius: var(--border-radius);
  outline: none;
}

.select-trigger:hover {
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--input-border-hover);
}
