.select {
  position: relative;

  .input {
    padding-right: calc(var(--space-medium) * 3);
    cursor: pointer;
  }

  > .icon {
    position: absolute;
    top: calc(var(--height-of-field) / 2);
    right: var(--space-medium);
    translate: 0 -50%;
    pointer-events: none;
  }
}
