@import url("./select-list.css");
@import url("./select-trigger.css");

.select-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-label-and-field);
}

/** Chevron animation */
.select-group:has(.select-list:popover-open) .select-trigger .icon {
  transform: rotate(180deg);
}

.select-trigger .icon {
  transition: transform 0.3s ease;
}
