@import url("./select-list.css");

.select-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-label-and-field);
  min-width: var(--field-min-width-mobile);
}

/** Chevron animation */
.select-group:has(.select-list:popover-open) {
  .select .icon {
    transform: rotate(180deg);
  }
}

.select-group {
  .select .icon {
    transition: transform 0.3s ease;
  }
}

/* Tablet */
@media (min-width: 550px) {
  .select-group {
    min-width: var(--field-min-width-tablet);
  }
}
