.select-list {
  --visible-items: 4;
  --total-items-height: calc(var(--height-of-field) * var(--visible-items));
  --total-gaps-height: calc(var(--space-base) * (var(--visible-items) - 1));
  --container-max-height: calc(var(--total-items-height) + var(--total-gaps-height));

  display: none; /* It is switched to display: flex when the popover is open. */
  padding: var(--space-base);
  flex-direction: column;
  gap: var(--space-base);
  max-height: var(--container-max-height);
  border: solid 1px var(--input-border-up);
  border-radius: var(--border-radius);
  overflow-y: auto;
  width: anchor-size(width);

  /* Positioning */
  position: fixed;
  inset: unset;
  top: calc(anchor(bottom) + var(--space-base));
  left: anchor(center);
  translate: -50% 0;
}

.select-list:popover-open {
  display: flex;
  transform: scale(1) translateY(0);
}

/** Visual hint (to infor the user it can scroll to see more items) */
.select-list:has(> :nth-child(5))::after {
  --height: 64px;
  --gradient-start: rgba(255, 255, 255, 0);
  --gradient-end: rgba(255, 255, 255, 0.99);

  content: "";
  position: sticky;
  bottom: calc(var(--space-base) * -1);
  left: 0;
  width: 100%;
  height: var(--height);
  flex-shrink: 0;
  margin-top: calc((var(--height) - var(--space-base)) * -1);
  background: linear-gradient(var(--gradient-start), var(--gradient-end));
  pointer-events: none; /* Important: allow clicks to pass through to items */
  z-index: 2;
}
