.select-list {
  --close-delay: 0.25s;
  --visible-items: 4;
  --total-items-height: calc(var(--height-of-field) * var(--visible-items));
  --total-gaps-height: calc(var(--space-base) * (var(--visible-items) - 1));
  --container-max-height: calc(var(--total-items-height) + var(--total-gaps-height));

  display: none; /* It is switched to display: flex when the popover is open. */
  flex-direction: column;
  gap: var(--space-base);
  max-height: var(--container-max-height);
  border: solid 1px var(--input-border-up);
  border-radius: var(--border-radius);
  overflow-y: auto;
  width: anchor-size(width);

  /* Positioning */
  position: fixed;
  inset: unset;
  top: calc(anchor(bottom) + var(--space-base));
  left: anchor(center);
  translate: -50% 0;
}

.select-list:popover-open {
  --open-delay: 0.15s;

  display: flex;
  opacity: 1;
  transform: scale(1) translateY(0);

  /* Animation */
  transition:
    opacity var(--open-delay),
    transform var(--open-delay),
    overlay var(--open-delay) allow-discrete,
    display var(--open-delay) allow-discrete;
}

/** Visual hint (to infor the user it can scroll to see more items) */
.select-list:has(> :nth-child(5))::after {
  content: "";
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 64px;
  flex-shrink: 0;

  /* Pull it up so it overlays the items instead of pushing the scroll down */
  margin-top: calc((64px + var(--space-base)) * -1);

  /* The Visuals (Fade from transparent to white) */
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.99));
  pointer-events: none; /* Important: allow clicks to pass through to items */
  z-index: 2;
}

@starting-style {
  .select-list:popover-open {
    opacity: 0;
    transform: scale(0.95) translateY(var(--space-base));
  }
}
