.documentation main {
  background-color: white;
  padding: var(--space-big);
  border-radius: var(--border-radius);
  box-shadow:
    rgba(0, 0, 0, 0.08) 0px 2px 8px 0px,
    rgba(0, 0, 0, 0.04) 0px 1px 4px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 1px 0px;

  .gallery {
    background-color: var(--color-page-background);
    padding: var(--space-medium);
    border-radius: var(--border-radius);

    .component {
      min-height: 160px;
      display: grid;
      place-items: center;
    }

    .code {
      padding: var(--space-small); /** wraps <Code> to show border-radius */
      background-color: white;
      border-radius: var(--border-radius);
    }
  }
}
