.documentation main {
  padding: var(--space-big);

  .gallery {
    background-color: var(--color-page-background);
    padding: var(--space-medium);
    border-radius: var(--border-radius);

    .component {
      min-height: 160px;
      display: grid;
      place-items: center;
    }

    .code {
      padding: var(--space-small); /** wraps <Code> to show border-radius */
      background-color: white;
      border-radius: var(--border-radius);
    }
  }
}
