.documentation main {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
  padding: var(--space-2xl);

  header {
    display: flex;
    flex-direction: column;
    gap: var(--space-base);
  }

  .gallery {
    background-color: var(--color-page-background);
    padding: var(--space-medium);
    border-radius: var(--border-radius);

    .component {
      min-height: 160px;
      display: grid;
      place-items: center;
    }

    /** wraps <Code> to show border-radius */
    .code-wrapper {
      padding: var(--space-xs);
      background-color: white;
      border-radius: var(--border-radius);
    }
  }
}
