.documentation nav {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);

  h2 {
    font-size: var(--font-size-normal);
    font-weight: bold;
  }

  a {
    padding-left: 6px;
    font-size: 14px;
    color: var(--typography-dark);
    text-decoration: none;
    border-left: solid 2px transparent;
  }

  a:hover {
    border-color: var(--color-gray);
  }

  a.active {
    border-color: var(--color-light-black);
  }
}
