---
import FormManager from "ui/form/FormManager";

import "styles/pages/index.css";
import "styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Example of a form with Aphrodite Chibi" />
    <title>Aprodite Chibi | Example</title>
  </head>
  <body>
    <main>
      <h1>Example form</h1>
      <FormManager client:visible />
      <a href="/">Go back to home</a>
    </main>
  </body>
</html>
