---
import BaseLayout from "layouts/BaseLayout.astro";
import FormManager from "ui/form/FormManager";

import "styles/pages/example.css";
---

<BaseLayout
  title="Aprodite Chibi | Example"
  description="Example of a form with Aphrodite Chibi"
>
  <main>
    <header>
      <h1>Example form</h1>
    </header>
    <FormManager client:visible />
    <footer>
      <a href="/">Go back to home</a>
    </footer>
  </main>
</BaseLayout>
