---
import BaseLayout from "layouts/BaseLayout.astro";
import FormPage from "forms/example-1/FormPage";

import "styles/pages/example.css";
---

<BaseLayout title="Input tests" description="Example of a form with Aphrodite Chibi">
  <main>
    <FormPage client:visible />
    <footer>
      <a href="/">Go back to home</a>
    </footer>
  </main>
</BaseLayout>
