---
import BaseLayout from "layouts/BaseLayout.astro";
import Step from "forms/example-2/Step";

import "styles/pages/example.css";
---

<BaseLayout title="Road to MVP" description="Example of a form with Aphrodite Chibi">
  <main>
    <section class="soft-background">
      <section class="top">
        <section class="content">
          <h1>Road to MVP</h1>
          <ul>
            <li>Change third input based on <b>property type</b>.</li>
            <li>Add validations.</li>
            <li>Add form submission.</li>
            <li>Add persistence.</li>
            <li>Add tracking.</li>
            <li>Add tooltips.</li>
            <li>Add icons.</li>
          </ul>
        </section>
      </section>
    </section>

    <Step client:visible />
    <footer>
      <a href="/">Go back to home</a>
    </footer>
  </main>
</BaseLayout>

<style>
  body {
    margin-inline: 0;
  }

  header {
    text-align: left;
  }

  ul {
    padding: 0;
    list-style-position: inside;
  }
</style>
