---
import BaseLayout from "layouts/BaseLayout.astro";
import Tooltip from "components/tooltip/TooltipTrigger"
import "styles/pages/example.css";
---

<BaseLayout title="Radio tests" description="Example of a tooltip with Aphrodite Chibi">
  <main>
    <Tooltip client:visible />
    <footer>
      <a href="/">Go back to home</a>
    </footer>
  </main>
</BaseLayout>
