---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Aprodite Chibi</title>
	</head>
	<body>
		<h1>Aprodite Chibi</h1>
		<p>Making Lendo more Kawai</p>
		<a href="docs/button">View docs</a>
	</body>
</html>
