---
import BaseLayout from "layouts/BaseLayout.astro";

import "styles/pages/index.css";
---

<BaseLayout title="Home" description="Home of the Aphrodite Chibi library">
  <main>
    <img alt="Chibi version of the virtual idol Hatsume Miku" fetchpriority="high" src="/images/miku.png" />
    <h1>Aphrodite Chibi</h1>
    <p>Making Lendo more Kawaii</p>
    <a href="example-1" data-astro-prefetch>Input tests</a>
    <a href="example-2" data-astro-prefetch>Radio tests</a>
     <a href="example-3" data-astro-prefetch>Dynamic validations</a>
    <a href="road-to-mvp" data-astro-prefetch>Road to MVP</a>
  </main>
</BaseLayout>
 