---
import BaseLayout from "layouts/BaseLayout.astro";

import "styles/pages/index.css";
---

<BaseLayout title="" description="Home of the Aphrodite Chibi library">
  <main>
    <img alt="Chibi version of the virtual idol Hatsume Miku" fetchpriority="high" src="/images/miku.png" />
    <h1>Aphrodite Chibi</h1>
    <p>Making Lendo more Kawaii</p>
    <a href="docs/chibi-button" data-astro-prefetch>View docs</a>
    <a href="example-1" data-astro-prefetch>Basic example</a>
    <a href="example-2" data-astro-prefetch>Road to MVP</a>
  </main>
</BaseLayout>
