.alert {
  --color-accent: var(--color-orange-50);

  display: flex;
  gap: var(--space-small);
  width: 100%;
  padding: var(--space-small);
  background-color: var(--color-orange-95);
  border: solid 2px var(--color-accent);
  border-radius: var(--border-radius);
}
