.input-field {
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-label-and-field);

  /* This could be its own component, just like <Label /> */
  .validation-message {
    background-color: var(--color-field-error-background);
    border: solid 2px var(--color-field-error-border-color);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding: var(--space-base) var(--space-xs);
  }
}
