.field-validation-message {
  position: relative;
  width: 100%;
  padding: var(--space-xs) var(--space-medium);
  background-color: var(--input-background-error);
  border: solid 2px var(--input-border-error);
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-bold);

  /* Pointy arrow */
  &::before {
    --size: 12px;
    --border: 2px;
    --half-size: calc(var(--size) / 2);
    --half-border: calc(var(--border) / 2); /* visual tweak for border rendering */

    content: "";
    position: absolute;
    top: calc(-1 * (var(--half-size) + var(--border)));
    left: calc(50% - var(--half-size) - var(--half-border));
    rotate: 45deg;

    width: var(--size);
    height: var(--size);
    background-color: var(--input-background-error);
    border: solid var(--border) var(--input-border-error);
    border-right: none;
    border-bottom: none;
  }
} 