#modal-manager {
  background-color: transparent;
  padding: 0;
  border: none;

  /** The color of the black screen behind the modal */
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
