#modal-manager {
  background-color: transparent;
  padding: 0;
  border: none;

  /** The color of the black screen behind the modal */
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.modal {
  background-color: white;
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
}
