a {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.01rem;
  font-weight: var(--font-weight-book);
  color: var(--typography-link);

  &:hover {
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  /* no overrides needed */
}

@media (min-width: 1024px) {
  /* no overrides needed */
}
