.open-design {
  min-width: 300px;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.window,
.arrow {
  background-color: white;
  border: solid 1px var(--default-border);
}

.window {
  width: 100%; /** fill the parent width. */
  padding: var(--space-small);
  border-radius: var(--border-radius);
}

/* From the bottom of the window pointing down */
.arrow {
  --size: 16px;
  --offset: 8px;

  width: var(--size);
  height: var(--size);
  rotate: 45deg;

  /* Changes depending on location */
  border-left: none;
  border-top: none;
  margin-top: calc(var(--offset) * -1);
}
