.popover {
  position: fixed;
  max-width: 400px;
  background-color: transparent; /** Removes default design */
  border: none; /** Removes default design */
  position-area: top; /** Initial position in relation to the info-button **/
  position-try-fallbacks: flip-block; /* Reposition in the block direction */
  container-type: anchored;  /* Make it an anchored query container */
}


.tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    width: 100%;
    padding: var(--space-small);
    background-color: white;
    border: solid 1px var(--default-border);
    border-radius: var(--border-radius);
  }

  .arrow {
    --size: 16px;
    --offset: -8px;

    width: var(--size);
    height: var(--size);
    margin-top: var(--offset);
    background-color: white;
    border: solid 1px var(--default-border);
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
  }
}


/* Use the anchored query to check the fallback */
@container anchored(fallback: flip-block) {
  .tooltip .arrow {
    background-color: red;
  }
}