.tooltip-icon {
  border: none;
  background-color: transparent;
  cursor: help;

  /* Positionining */
  /* The "anchor-name" is done inside the React component so we can assign dynamic ids. */
}

.tooltip-popopver {
  min-width: 320px;
  max-width: 500px;
  margin: var(--space-small);
  padding: var(--space-small);
  background-color: white;
  border: solid 1px var(--default-border);
  border-radius: var(--border-radius);

  /* Positioning */
  /* The "position-anchor" is done inside the React component so we can assign dynamic ids. */
  position-area: top center;
  position-try-fallbacks: flip-block, flip-inline;
}
