.documentation main {
  background-color: white;
  padding: var(--space-big);
  border-radius: var(--border-radius);
  box-shadow:
    rgba(0, 0, 0, 0.08) 0px 2px 8px 0px,
    rgba(0, 0, 0, 0.04) 0px 1px 4px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 1px 0px;

  .component-view {
    background-color: var(--color-light-gray);
    padding: var(--space-big);
    border-radius: var(--border-radius);
  }
}
