---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content={description}>
    <title>{title}</title>
  </head>

  <body>
    <nav>
        <a href="/">Home</a>
        <a href="/docs/alert">Alert</a>
        <a href="/docs/button">Button</a>
        <a href="/docs/input">Input</a>
        <a href="/docs/label">Label</a>
        <a href="/docs/radio">Radio</a>
    </nav>

    <main>
      <section class="component-view">
        <slot />
      </section>
      
      <header class="description">
        <h1>{title}</h1>
        <slot name="description" />
      </header>
    </main>
  </body>
</html>

