#step-1 {
  display: flex;
  flex-direction: column;
  text-align: left;

  .top,
  .bottom {
    margin-inline: var(--space-2xl);
    margin-top: var(--space-2xl);
    margin-bottom: var(--space-2xl);
  }

  .top {
    background-color: pink;
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
  }

  .bottom {
    background-color: aliceblue;
  }
}
