#step-1 {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
  text-align: left;

  header,
  section,
  footer {
    margin-inline: var(--space-2xl);
  }

  header {
    background-color: pink;
    margin-top: var(--space-2xl);
  }

  section {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  footer {
    background-color: palegreen;
    margin-bottom: var(--space-2xl);
  }
}
