body {
  background-color: var(--color-page-background);
  font-family: var(--font-family);
}

hr {
  width: 100%;
  border: solid 0.5px var(--color-border);
}

.soft-background {
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow:
    rgba(0, 0, 0, 0.08) 0px 2px 8px 0px,
    rgba(0, 0, 0, 0.04) 0px 1px 4px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 1px 0px;
}
