* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--page-background);
}

hr {
  width: 100%;
  margin: 0;
  border: solid 0.5px var(--divider-border);
}

.soft-background {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow:
    rgba(0, 0, 0, 0.08) 0px 2px 8px 0px,
    rgba(0, 0, 0, 0.04) 0px 1px 4px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 1px 0px;

  .top,
  .bottom {
    margin-inline: var(--space-2xl);
    margin-top: var(--space-2xl);
    margin-bottom: var(--space-2xl);
  }

  .top {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);

    header {
      display: flex;
      flex-direction: column;
      text-align: start;
      gap: var(--space-medium);
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
  }
}
