@import url("./variables.css");

* {
  color: var(--color-typography-default);
  font-size: 16px;
  font-weight: 400;
}

h1,
h2 {
  margin: 0;
  color: var(--color-typography-dark);
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 500;
}

code {
  color: var(--color-blue-20);
}
