@import url("./variables.css");
@import url("./typography/anchor.css");
@import url("./typography/headings.css");

body {
  color: var(--typography-default);
  font-size: var(--font-size-normal);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  -webkit-font-smoothing: antialiased; /* To make text look great on Apple devices */
}

p {
  margin: 0;
}

code {
  color: var(--color-blue-20);
}

/** Legacy */
h1,
h2 {
  margin: 0;
  color: var(--typography-dark);
}

h1 {
  font-size: 48px;
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: 36px;
  font-weight: var(--font-weight-medium);
}
