@import url("./variables.css");

body {
  color: var(--color-typography-default);
  font-size: var(--font-size-normal);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
}

h1,
h2 {
  margin: 0;
  color: var(--color-typography-dark);
}

h1 {
  font-size: 48px;
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: 36px;
  font-weight: var(--font-weight-medium);
}

p {
  margin: 0;
}

a {
  color: var(--color-typography-link);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

code {
  color: var(--color-blue-20);
}
